/* basic elements */

html {
    margin: 0;
    padding: 0;
}


body {
    margin: 20 auto;
    padding: 0;
    font-family: "Lato", arial, sans-serif;
    font-weight: 300;
    color: color: #2d3c49;
}


p {
    margin-top: 5px;
    font-size: 1.0em;
}


h1 {
    margin-bottom: 10px;
    font-weight: 100;    
}


h2 {
    margin: 5px 0;
    font-size: 2.3em;
}


h3 {
    margin-top: 0;    
}


hr {
    height: 5px;
    background-color: #7d97ad;
}


a:link {
    font-weight: 300;
    text-decoration: none;  
}


a:visited {
    font-weight:300;
    text-decoration: none;
    color: #d4cddc;
}


a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #7d97ad;
}

/* specific divs */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.container {
    margin: 20 auto;
    max-width: 1200px;
    width: 100%;   
}


.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}


.col-4 {
    width: 33.33%;
}


.col-5 {
    width: 41.66%;
}


.col-7 {
    width: 58.34%;
}


.col-12 {
    width: 100%;
}


.text-right {
    text-align: right;
}


.text-center {
    text-align: center;
}


.text-uppercase {
    text-transform: uppercase;
}


.text-wide {
    letter-spacing: 2px;
}


.text-huge { 
    margin-top: 10px;
    font-size: 60px;
}


.text-medium {
    font-size: 23px;
}


.light-color {
    color: #7d97ad;
}


.logo {
    margin-top: 20px;
}


.img-center {
    margin: 0 auto 20px;
    width: 100%;
}


.img-bottom {
    width: calc((300% - 20px)/3);
}


@media screen and (max-width: 769px) {
    .logo, .featured {
        margin-left: 30px;
    }
    
    .text-huge, .text-medium {
        margin-right: 30px;
    }
    
    .img-center, .works {
        margin: 0 30px;
        width: 90vw;
    }
    
    hr {
        width: 93%
    }
}
    
    
@media screen and (max-width: 768px) {
     .logo {
        margin-left: 30px;
        width: 35%;
        height: 35%;
    }
    
    .text-huge {
        font-size: 2.8em;
        margin-right: 20px;
    }
    
    .text-medium {
        font-size: 1.3em;
    } 
    
    .img-center, .works {
        margin: 0 20px;
        width: 90vw;
    }
    
    h2 {
        font-size: 2.2em;
    }
    
    hr {
        width: 90%;
    }
}
    
    
@media screen and (max-width: 550px) {
     .logo {
        margin-left: 30px;
        width: 30%;
         height: 30%;
    }
    
    .text-huge {
        font-size: 2.4em;
        margin-right: 30px;
    }
    
    .text-medium {
        font-size: 1.1em;
    }
    
    .img-center, .works {
        margin: 0 20px;
        width: 90vw;
    }
    
    h2 {
        font-size: 1.6em;
    } 
    
    hr {
        width: 90%;
    }
}



